<div class="depot_form" >
	<fieldset>
		<legend>
			Please Enter Your Details
		</legend>
		<%= render 'form' %>
		<!-- <%= store_url%></br>
		<%= store_path%></br>
		<hr>
		<%= orders_url%></br>
		<%= orders_path%></br>
		<hr>
		<%= line_items_url%></br>
		<%= line_items_path%></br>
		<hr>
		<%= carts_url%></br>
		<%= carts_path%></br>
		<hr>
		<%= products_url%></br>
		<%= products_path%></br>
		<hr> -->
		
	</fieldset>
</div>
